@model ActivitiClient.Models.Bpmn.Process
@{
    ViewBag.Title = "Start";
}

<h2>@Model.Name</h2>

<form role="form" class="form-horizontal">

    @foreach (var item in Model.StartEvent[0].FormProperty) {
        <div class="form-group">
            @FormsHelper.EncodeForm(item)
        </div>
    }
    <button type="submit" class="btn btn-default">Submit</button>
</form>

