@model FitFlow.Models.Service.LoginFormsModel
@{
    ViewBag.Title = "Login";
}
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SampleWorkFlow</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/signin.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @using (@Html.BeginForm(null, null, new { returnUrl = Request.Params["returnUrl"] }, FormMethod.Post, new { @class = "form-signin" })) {
            <h3>サンプルワークフロー</h3>
            <legend>ログイン</legend>
            <div class="input-group user">
                <span class="input-group-addon glyphicon glyphicon-user"></span>
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control", placeholder = "UserId", required = "required", autofocus = "autofocus" })
            </div>
            <div class="input-group lock">
                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">ログイン</button>
        }
    </div> <!-- /container -->
</body>
</html>