@model FitFlow.Models.Service.LoginFormsModel
@{
    ViewBag.Title = "Login";
}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - InfoFlow</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/signin.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @using (@Html.BeginForm(null, null, new { returnUrl = Request.Params["returnUrl"] }, FormMethod.Post, new { @class = "form-signin" })) {
            <h2 class="form-signin-heading">Login</h2>
            @Html.TextBoxFor(model => model.Id, new { @class = "form-control", placeholder = "UserId", required = "required", autofocus = "autofocus" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
            <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
        }
    </div> <!-- /container -->
</body>
</html>