
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container-fluid">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">item</div>
            <div class="panel-body relative">
                <div id="" class="task uml-model uml-model-master">タスク</div>
                <div id="" class="start uml-model uml-model-master">開始</div>
                <div id="" class="end uml-model uml-model-master">終了</div>
                <div class="panel-horizontal swimlane uml-model uml-model-master">
                    <div class="panel-heading">スイムレーン</div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">item</div>
            <div class="panel-body">
                <canvas id="canvassample" width="140" height="140">
                </canvas>
                <div class="container col-xs-12">
                    <div id="uml-canvas" class="relative row"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section csses {
    <link href="/Content/site-flow.css" rel="stylesheet" />
}
@section scripts {
    <script src="/Scripts/site-flow.js"></script>    
}